

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("starBackground.jpeg");
    text-decoration: none;
    border-radius: 5px;

}

.text{
background-color: rgba(0,0,0,0.75);
margin-left: 80px;
margin-right: 80px;
margin-top: 80px;
padding: 40px;
color: white;

}

a:link {
    color:white;
}

a:visited {
    color: teal;
}

a:hover {
    color: teal;
}

a:active {
    color: blue;
}

p {
    font-weight: 200;
    font-size: 20px;
    
}
 h1{
    font-weight: 700;
    font-size: 50px;
    text-align: center;
 }

 .navBar{
    display: flex;
    justify-content: space-evenly;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    padding: 40px;
    background-color: rgba(0,0,0,0.75) ;
 }

 .navLink{
     background-color: white;
     border: 20px solid white;
     border-radius: 5px;
     width: 150px;
     text-align: center;
     color:black;
     font-weight: 700;
     font-size: 25px;
     text-decoration: none;
 }

 .navBarChild{
    display: flex;
    justify-content: space-evenly;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(0,0,0,0.75) ;
 }

 .navLinkChild{
     background-color: white;
     border: 10px solid white;
     border-radius: 5px;
     width: 100px;
     text-align: center;
     color:black;
     font-weight: 600;
     font-size: 12px;
     text-decoration: none;
 }

 .childText{
    background-color: rgba(0,0,0,0.75);
    margin-left:80px;
    margin-right: 80px;
    margin-bottom: 80px;
    padding: 40px;
    color: white;
 }

 .sleepCalc{
     border: 30px  black;
     padding-left: 60px;
     padding-right: 60px;
     padding-top: 20px;
     padding-bottom: 20px;
    width: 170px;
     background-color: rgba(255,255,255,0.55);
     color: black;     
     border-radius: 25px;

 }

 .bedTimeText{
     font-weight: 100;
 }

 button {
     border-radius: 5px;
     font-size: 20px;
     font-weight: 700;
     width: 160px;
     font-family: 'Poppins', sans-serif;
 }

 .result{
     font-size: 50;
     font-weight: 800;


 }

option {
    font-family: 'Poppins', sans-serif;

}

select {
    font-family: 'Poppins', sans-serif;

}

 .routineExamples {
background-color:rgba(255,255,255,0.55);
border-radius: 25px;
flex-direction: row;
align-items: stretch;
justify-content: space-evenly;
color: black;
display: flex;
 }

 #routineExample1, #routineExample2 {
     margin: 5px;
     padding: 35px;
 }

 .table {
     border-spacing: 8px;
     vertical-align: top;
    
 }

td {
    vertical-align: top;
}

.exerciseExamples {
    background-color:rgba(255,255,255,0.75);
    border-radius: 5px;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    color: black;
    display: flex;
     }
    
     #exerciseExample1, #exerciseExample2 {
         margin: 5px;
         padding: 35px;
     }
    

