

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("starBackground.jpeg");
    background-color: paleturquoise;
    margin: 80px;
    text-decoration: none;
    border-radius: 5px;

}

.text{
background-color: rgba(0,0,0,0.75);
padding: 20px;
color: white;

}
p {
    font-weight: 200;
    font-size: 20px;
    
}
 h1{
    font-weight: 700;
    font-size: 50px;
    text-align: center;
 }

 .navBar{
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    background-color: rgba(0,0,0,0.75) ;
 }

 .navLink{
     background-color: white;
     border: 20px solid white;
     border-radius: 5px;
     width: 150px;
     text-align: center;
     color:black;
     font-weight: 700;
     font-size: 25px;
     text-decoration: none;
 }

 .childText{
    background-color: rgba(0,0,0,0.75);
    padding: 20px;
    color: white;
 }

 .sleepCalc{
     border: 10px  rgba(255,255,255,0.75);
     padding-left: 100px;
     padding-right: 100px;
    width: 200px;
     background-color: rgba(255,255,255,0.75);
     color: black;     
     border-radius: 5px;
 }

 .bedTimeText{
     font-weight: 100;
 }

 .result{

 }

 .routineExamples {
background-color:rgba(255,255,255,0.75);
border-radius: 5px;
flex-direction: row;
align-items: stretch;
color: black;
display: flex;
 }

 #routineExample1, #routineExample2 {
     margin: 5px;
     padding: 35px;
 }

 .table {
     border-spacing: 8px;
     vertical-align: top;
    
 }

td {
    vertical-align: top;
}

.exerciseExamples1 {
    background-color:rgba(255,255,255,0.75);
    border-radius: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    display: flex;
    text-align: center;
     }
    
     #exerciseExample2, #exerciseExample3 {
         margin: 5px;
         padding: 40px;
         text-align: center;
     }

     .exerciseExamples2 {
        background-color:rgba(255,255,255,0.75);
        border-radius: 5px;
        flex-direction: row;
        color: black;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
         }
        
         #exerciseExample4, #exerciseExample5 {
            margin: 5px;
            padding: 35px;
            width: 500px;
            text-align: center;
         }
    
            .exerciseExamples3 { 
                border-radius: 5px;
                flex-direction: row;
                color: black;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                text-align: center;
                 }
         
         #title {
            margin: 5px;
            padding: 40px;
            text-align: center;
         }