

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("stars-desktop-wallpaper.jpg");
    text-decoration: none;
    border-radius: 5px;
}

.text{
background-color: rgba(0,0,0,0.75);
margin-left: 80px;
margin-right: 80px;
margin-top: 80px;
padding: 40px;
color: white;

}

a:link {
    color:white;
}

a:visited {
    color:white;
}

a:hover {
    color: teal;
}

a:active {
    color: blue;
}

p {
    font-weight: 200;
    font-size: 20px;
    
}
 h1{
    font-weight: 700;
    font-size: 50px;
    text-align: center;
 }

 .navBar{
    display: flex;
    justify-content: space-evenly;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    padding: 40px;
    background-color: rgba(0,0,0,0.75) ;
 }

 .navLink{
     background-color: white;
     border: 20px solid white;
     border-radius: 5px;
     width: 150px;
     text-align: center;
     color:black;
     font-weight: 700;
     font-size: 25px;
     text-decoration: none;
 }

 div.navBar a:link {
     color: black;
 }

 div.navBar a:visited {
    color: black;
}


 .navBarChild{
    display: flex;
    justify-content: space-evenly;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    top: 0px;
    width: 80%;
 }

 .navLinkChild{
     background-color: white;
     border: 10px solid white;
     border-radius: 5px;
     width: 100px;
     text-align: center;
     color:black;
     font-weight: 600;
     font-size: 12px;
     text-decoration: none;
 }

 div.navBarChild a:link {
    color: black;
}

div.navBarChild a:visited {
   color: black;
}

 .childText{
    background-color: rgba(0,0,0,0.75);
    margin-left:80px;
    margin-right: 80px;
    margin-bottom: 80px;
    padding: 40px;
    color: white;
 }

 .sleepCalc{
     border: 30px  black;
     padding-left: 60px;
     padding-right: 60px;
     padding-top: 20px;
     padding-bottom: 20px;
    width: 170px;
     background-color: rgba(255,255,255,0.5);
     color: black;     
     border-radius: 25px;

 }

 .bedTimeText{
     font-weight: 100;
 }

 button {
     border-radius: 5px;
     font-size: 20px;
     font-weight: 700;
     width: 160px;
     font-family: 'Poppins', sans-serif;
 }

 .result{
     font-size: 50;
     font-weight: 800;


 }

option {
    font-family: 'Poppins', sans-serif;

}

select {
    font-family: 'Poppins', sans-serif;
}

.pilates {
    background-color:rgba(255,255,255,0.5);
    border-radius: 25px;
    flex-direction: row;
    justify-content: space-evenly;
    color: black;
    display: flex;
    align-content: center;
    padding: 10px;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
.pilates2 {
    background-color:rgba(255,255,255,0.5);
    border-radius: 25px;
    flex-direction: column;
    color: black;
    display: flex;
    border: 20px;
    align-content: center;
    padding: 35px;
}

.yoga {
    background-color:rgba(255,255,255,0.5);
    border-radius: 25px;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    color: black;
    display: flex;
    align-content: center;
}

.relaxation {
    background-color:rgba(255,255,255,0.5);
    border-radius: 25px;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    color: black;
    display: flex;
    align-content: center;
}
 .routineExamples {
    background-color:rgba(255,255,255,0.5);
    border-radius: 25px;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    color: black;
    display: flex;
    align-content: center;
 }

 #routineExample1, #routineExample2 {
     margin: 5px;
     padding: 35px;
 }
 
 .table {
     border-spacing: 8px;
     vertical-align: top;
    
 }

td {
    vertical-align: top;
}

.exerciseExamples {
    background-color:rgba(255,255,255,0.5);
    border-radius: 25px;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    color: black;
    display: flex;
     }
    
#exerciseExample1, #exerciseExample2 {
    margin: 5px;
    padding: 35px;
    }
    
.exerciseExamples1 {
    background-color:rgba(255,255,255,0.5);
    border-radius: 25px;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    color: black;
    display: flex;
     }
        
 #exerciseExample3, #exerciseExample4 {
    margin: 5px;
    padding: 35px;
    }
    

.negatives1 {
    background-color: rgba(0,0,0,0.75);
    border-radius: 25px;
    color: white;
    display: flex;
    align-content: center;
    padding:10px;
}

.negatives2 {
    background-color: rgba(0,0,0,0.75);
    border-radius: 25px;
    color: white;
    display: flex;
    align-content: center;
    padding:10px;
    font-weight: 800;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
}

.negatives3 {
    background-color: rgba(0,0,0,0.75);
    border-radius: 25px;
    color: white;
    align-content: center;
    padding:10px;
}

.positives1 {
    background-color: rgba(0,0,0,0.75);
    border-radius: 25px;
    color: white;
    display: flex;
    align-content: center;
    padding: 10px;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    font-weight: 800;
    }
    .positives2 {
        background-color: rgba(0,0,0,0.75);
        border-radius: 25px;
        color: white;
        display: flex;
        align-content: center;
        padding:10px;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-evenly;
        }
    .positives3 {
            background-color: rgba(0,0,0,0.75);
            border-radius: 25px;
            color: white;
            display: flex;
            align-content: center;
            padding:10px;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-evenly;
            }        

.appsTitle{
    background-color: rgba(255,255,255,0.5);
    border-radius: 25px;
    color: black;
    display: flex;
    align-content: center;
    padding: 10px;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    font-weight: 800;
    }

.apps {
    background-color:rgba(255,255,255,0.5);
    border-radius: 25px;
    flex-direction: row;
     align-items: stretch;
     justify-content: space-evenly;
     flex-wrap: wrap;
     color: black;
     display: flex;
     align-content: center;
     text-align: center;
 }
                    
#app1, #app2, #app3, #app4 {
    margin: 5px;
    padding: 35px;
    width: 300px;
  }
                
  .productsTitle{
    background-color: rgba(255,255,255,0.5);
    border-radius: 25px;
    color: black;
    display: flex;
    align-content: center;
    padding: 10px;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    font-weight: 800;
    }
            
    .products {
        background-color:rgba(255,255,255,0.5);
        border-radius: 25px;
        flex-direction: row;
         align-items: stretch;
         justify-content: space-evenly;
         flex-wrap: wrap;
         color: black;
         display: flex;
         align-content: center;
         text-align: center;
     }
                        
    #prod1, #prod2, #prod3, #prod4 {
        margin: 5px;
        padding: 35px;
        width: 300px;
      }

      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .dietTitle{
        background-color: rgba(255,255,255,0.5);
        border-radius: 25px;
        color: black;
        display: flex;
        align-content: center;
        padding: 10px;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-evenly;
        font-weight: 800;
        }

    .dietExamples {
        background-color:rgba(255,255,255,0.5);
        border-radius: 25px;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-evenly;
        color: black;
        display: flex;  
    
        }
                 
    #dietExample1, #dietExample2 {
        margin: 5px;
        padding: 35px;
        }